<link rel="stylesheet" href="/stylesheets/jobEdit.css">

<section class="job-wrapper">
                
        <div class="navigation">
    <h3>JOB CONTENT</h3>
<a href="/maintenance"><h3>Maintenance</h3></a>     
</div>
<form action="" method="POST" enctype="multipart/form-data">
        <div class="wrapper-wrapper">
                <div class="labels">
                        <label class="label3" for="briefDescription">Brief Description</label>
                        <label class="label4" for="moreInfo">More Info</label>
                       <br><br> <br>
                        
                        <label class="label5" for="material">Materials</label>
                        <label class="label6" for="spare">Quantity/Size <br> of Spare</label>
                        <label class="label6" for="totalCost">Total Cost</label>
                        <label class="label6" for="incharge">Person in-charged</label>

                 </div>
                <div class="inputs">
        
                         <input type="text" name="briefDescription" style="height: 30px;" class="job-form" value="<%= jobs.briefDescription %>" required>
                         <textarea name="moreInfo" id="text-area" cols="30" rows="10" class="text-area1"><%= jobs.moreInfo %></textarea>  
                        <!-- <div class="date-time">
                                 <label class="label3" for="date">Date</label>
                                <input type="text" name="date"  style="height: 20px;width: 115px;padding-left: 3px; " value="<%=jobs.DATE%>" required>
                                <label class="label3" for="time">Time</label>
                                <input type="text" name="time" style="height: 20px;width: 85px;padding-left: 3px;" value="<%=jobs.time%>" required>
                        </div> -->
                        
                        <textarea name="materialUsed" id="" cols="30" rows="3" class="text-area1"><%=jobs.materialUsed%></textarea>
                        <textarea name="quantity" id="" cols="30" rows="3" class="text-area1"><%=jobs.size%></textarea>
                        <input type="number" min="1" step="any" name="totalCost" class="job-form" style="height: 30px; text-align: center;" value="<%= jobs.totalCost%>" required>
                        <input type="text" name="incharge" class="job-form" style="height: 30px;" value="<%=jobs.pio%>" >
                </div>
                <div class="right">
                        <div class="rLeft">
                                <label for="vehicleInvolved">Vehicle Involved</label>
                                <input type="text" name="vehicleInvolved" class="job-form" value="<%=jobs.vehicleInvolved%>" >
                                
                                
                        </div>
                        <div class="rRight">
                                <label for="plateNumber">Plate Number</label>
                                <input type="text" name="plateNumber" class="job-form" value="<%=jobs.plateNumber%>" ><br>
                                <label for="status">Status</label>
                                <select id="position" name="status" class="statusSelect" required>
                                                <option selected disabled><%=jobs.status%></option>
                                                <option>Unfinished</option>
                                                <option>Finished</option>
                                                <option>On-going</option>
                                            </select>
                        </div>
                        
                        <!-- <div class="showReceipt">
                        <div class="receipt-tag">receipt
                         <input type="file" name="image" id="gallery-photo-add" multiple>
                        </div>
                        <div class="receipt-pic">
                                        
                                       
                        <div class="receipt">
                                
                                        <div class="gallery"></div>
                        </div>
                        </div><br>
                </div> -->
                        <div>
                                        <button class="add-button" value="submit" type="submit">UPDATE</button>
                        </div>
                       
                </div>
               
        </div>
</form>
     
</section>